.navbar-container {
  box-shadow: 0 2px 2px -2px rgb(0 0 0 / 20%);
  position: fixed;
  z-index: 1;
  background: white;
  width: 100%;
  top: 0;
}

.navbar {
  box-sizing: border-box;
  position: relative;
  height: 80px;
  ul {
    list-style: none;
  }
  .navbar-wrapper {
    display: flex;
    height: 100%;
    margin: 0;
    &.right{
      padding-left: 0;
    }
  }
  .navbar-item {
    padding: {
      left: 2rem;
      right: 2rem;
    }
  }
}

.navbar-item-marker {
  position: absolute;
  bottom: 18px;
  background: $primary;
  height: 6px;
  width: 18px;
  border-radius: 5px;
  opacity: 0;
  &.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out ;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    .navbar-item {
      padding: {
        left: 1rem;
        right: 1rem;
      }
    }
  }
  // .navbar {
  //   .navbar-wrapper {
  //     &.open {
  //       position: fixed;
  //       top: 0%;
  //       width: 100%;
  //       left: 0;
  //       z-index: 1;
  //       background: black;
  //       padding: 0;
  //       height: 100%;
  //     }
  //     &.close {
  //       position: fixed;
  //       top: 0%;
  //       width: 100%;
  //       left: 0;
  //       z-index: 1;
  //       background: black;
  //       padding: 0;
  //       height: 100%;
  //     }
  //   }
  //   ul {
  //     flex-direction: column;
  //   }
  // }
}
