.wizzard-container {
  display: block;
  margin-bottom: 0;
}

.wizzard-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: $light-gray;
  &.active {
    background: $primary;
    color: $white;
  }
}
.wizzard-divider {
  height: 80px;
  width: 2px;
  background: $light-gray;
  margin: {
    left: 0;
    right: 0;
    bottom: 0.5rem;
    top: 0.5rem;
  }
  &.active {
    background: $primary;
  }
}

@media only screen and (max-width: 768px) {
  .wizzard-container {
    display: flex;
    margin-bottom: 1rem;
  }
  .wizzard-divider {
    height: 2px;
    width: 80px;
    background: $light-gray;
    margin: {
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0;
      top: 0;
    }
    &.active {
      background: $primary;
    }
  }
}
